<!DOCTYPE html>
<html lang="pt"><head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="form_Visualiza%C3%A7%C3%A3o%20da%20situa%C3%A7%C3%A3o(status)-linha-ok_arquivos/estilos.css">
</head>
<body>
	
	
	
	
	
	
	
	


<div class="col-12 mt-3 mt-md-0 p-0 col-lg-6">
	<div class="d-block col-12 col-md-11 m-auto">
		<div class="w-sm-100 mt-2">
			<div class="form-row">
				
				<div class="form-row col-md-10 col-sm-12">
					<div class="form-row form-group-float w-100">
						<div class="col-md-2 col-sm-12 form-group-float">
							<label for="ID-Ocorrência">ID</label>
							<input type="text" minlength="16" maxlength="16" id="telefone" inputmode="numeric" class="form-control input-padrao telefone" name="tel_cadastro" required="" value="ID">
						</div>
						
						<div class="col-md-8 col-sm-12">
							<label for="Descrição">Descrição da Ocorrência</label>
							<textarea class="form-control" id="descricao_da_ocorrencia" name="descricao_da_ocorrencia" required="" maxlength="255" placeholder="Ex.: Buraco de um metro de largura, dois de prufundidade, localizado na rua Pêra, na altura do número 4." style="height: 87px;"></textarea>
						</div>
						
						<div class="col-md-2 col-sm-12 form-group-float">
							<label for="Foto da ocorrência">Foto:</label>
							<input type="text" class="form-control input-padrao telefone" name="telefone_opcional" maxlength="16" value="Foto" id="">
						</div>
					</div>
					
					<div class="form-row form-group-float">
						<div class="d-block mt-3">
							<button type="submit" class="btn btn-primary w-100">Ver detalhes</button>
						</div>
					</div>
				</div>
				
				<div class="col-md-2 col-sm-12 form-group-float">
					<div class="form-row form-group-float">
						<label for="senha_login">Status:</label>
						<input id="senha_login" class="form-control input-padrao" type="text" name="" value="Em andamento">
						<div class="invalid-feedback">Informe a senha</div>
					</div>
					<div class="d-block">
						<button type="submit" class="btn btn-primary w-100 mt-3">Visualizar</button>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>

</body></html>