<!DOCTYPE html>
<html lang="pt-br">

	<head>
		<meta charset="UTF-8" />
		<title>Operaçao Limpeza</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- <link rel="stylesheet" href="/css/style2.css" /> -->
		<!-- <link rel="stylesheet" href="/css/style3.css" /> -->
		<link rel="stylesheet" href="/css/style-Ran.css" />
	</head>

	<body class="bgSizeCover">

		<section>
			<!--Div que ficar dentro desta seção(section) ficará centralizado, Usar para manter div pai cenralizado -->

		<!--	<div class="area_conteudo borda_green-40 borda_arredond-8 tam_min-max sombra"> -->
		<!--		<main> -->
					<header>
						<div class="titulos borda_arredond-16">
							<h3 class="disposicao_titulos">
								Comunica Sertãozinho
								</br>
									<h5 class="disposicao_titulos">
										Esta aplicação web tem como finalidade prover à população um meio de comunicação eficaz para realizar comunicados junto ao poder público municipal com o objetivo de facilitar e melhorar o contato entre os munícipes e as várias áreas de atuação do poder público municipal no enfrentamento de problemas encontrados pela população.
									</h5>
							</h3>
						</div>
						


					</header>
					<div class="">
						<span class="info">
							<p>
								<br/>
								Escolha uma opção
							</p>
							<hr>
						</span>
					</div>

				<!-- Aplicações -->
					<div>
						<div class="item-container">
							<div class="item"></div>
							<div class="item">
								Icone aqui</br>
								Operação Limpeza
							</div>
							<div class="item"></div>
							<div class="item"></div>
							<div class="item"></div>
							<div class="item"></div>
  						</div>
					</div>



		<!--		</main> -->
		<!--	</div> -->

			<footer>
				<div class="centralizar rodape">
					PI-3 GRUPO-012 Sertãozinho-SP - UNIVESP
				</div>
			</footer>
		</section>
	</body>
</html>