<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8" />
	<title>Operaçao Limpeza</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- <link rel="stylesheet" href="/css/style2.css" /> -->
	<!-- <link rel="stylesheet" href="/css/style3.css" /> -->
	<link rel="stylesheet" href="/css/style-Ran.css" />
	<style>
		body {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
			margin: 0;
			font-size: 16px;
			/* Tamanho base da fonte */
		}

		.centrar {
			padding: 1em;
			transform: translate(-50%, -50%);
		}
	</style>
</head>

<body class="bgSizeCover">
	<div class="zoom-buttons">
		<button id="zoomIn">Aumentar Zoom</button>
		<button id="zoomOut">Diminuir Zoom</button>
	</div>

	<section>
		<!--Div que ficar dentro desta seção(section) ficará centralizado, Usar para manter div pai cenralizado -->

		<div class="area_conteudo borda_green-40 borda_arredond-8 tam_min-max sombra">
			<main>
				<header>
					<div class="titulos borda_arredond-8">
						<h5 class="disposicao_titulos">
							Este site foi desenvolvido para que a população de Sertãozinho-SP tenha um canal para fazer
							reclamações
							referentes
							a infraestrutura asfáltica da cidade.
						</h5>
					</div>
				</header>
				<div class="centralizar disposicao_conteudo">
					<span class="info">
						<p>
							Informe seu E-mail e Senha para fazer uma reclamação.
						</p>
					</span>

					<form method="post" onsubmit="return validateLOGIN(this)" action="/login" class="container-inputs">
						{{#if error}}
						<div class="error-message">
							<p>{{error}}</p>
						</div>
						{{/if}}

						<div class="form">
							<input type="email" name="email" id="email-id" placeholder="E-mail" required
								class="form__input" />
							<label for="email" class="form__label">E-mail</label>
						</div>

						<div class="form">
							<input type="password" name="password" id="password-id" placeholder="Senha" required
								class="form__input" />
							<label for="password" class="form__label">Senha</label>
						</div>

						<!--
							<input type="email" name="email" id="email-id" placeholder="E-mail" required /> 
							
							<input type="password" name="password" id="password-id" placeholder="Senha" required />-->

						<input type="submit" class="botao botao_blue-50" value="Entrar" />

						<div class="container-spans">
							<span class="span2 mensagem">Não é cadastrado?</span>
							<span class="span3"><a href="/paginadecadastro">Fazer cadastro</a></span>
						</div>
						<div class="container-spans">
							<span class="span2 mensagem">Esqueceu a senha?</span>
							<span class="span3"><a href="/esqueceusenha">Recuperar senha</a></span>
						</div>

					</form>
				</div>
			</main>
		</div>

		<footer>
			<div class="centralizar rodape">
				PI-2 GRUPO-012 Sertãozinho-SP - UNIVESP
			</div>
		</footer>
	</section>


	<script>
		const zoomInButton = document.getElementById('zoomIn');
		const zoomOutButton = document.getElementById('zoomOut');
		let currentZoom = 1;

		zoomInButton.addEventListener('click', () => {
			currentZoom += 0.1;
			document.body.style.transform = `scale(${currentZoom})`;
			document.body.style.transformOrigin = 'center center';
		});

		zoomOutButton.addEventListener('click', () => {
			if (currentZoom > 0.1) {
				currentZoom -= 0.1;
				document.body.style.transform = `scale(${currentZoom})`;
				document.body.style.transformOrigin = 'center center';
			}
		});
	</script>
</body>

</html>