<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Operação Limpeza - Cadastro</title>
    <link rel="stylesheet" href="/css/style3.css" />

</head>

<body class="bgSizeCover ">
    <section>
        <!--Div que ficar dentro desta seção ficará centralizado, Usar para manter div pai cenralizado -->
        

        <div class="area_conteudo borda_green-40 borda_arredond-8 tam_min-max sombra">
            <main>
                <header>
                    <div class="titulos borda_arredond-8">
                        <h5 class="disposicao_titulos">
                            Este site foi desenvolvido para que a população de Sertãozinho-SP tenha um canal para fazer
                            reclamações
                            referente a
                        </h5>
                    </div>
                </header>
                <!--      <section class="parte2"> -->
                <div class="centralizar disposicao_conteudo">
                    <span class="info">
                        <p>
                            Cadastro.
                            <hr>
                        </p>
                        <p>
                            Informe seu Nome, Telefone, E-mail e Senha para fazer o cadastro.
                        </p>
                    </span>
                    <!-- Form Usado para cadastrar usuários -->
                    <form method="post" onsubmit="return validateForm(this)" action="/cadastro"
                        class="container-inputs">
                        {{#if error}}
                        <div class="error-message">
                            {{error}}</div>
                        {{/if}}
                        {{#if message}}
                        <div class="success-message">
                            {{message}}</div>
                        {{/if}}
                        <span id="span4"> </span>
                        <span id="span5"> </span>
                        <span id="span6"> </span>
                        <span id="span7"></span>
                        <br />
                        <input type="text" name="nome" placeholder="Nome Completo" id="firstname-id" />
                        
                        <input type="tel" name="telefone" placeholder="Telefone" id="lastname-id" />
                        <!-- type="text" trocado por type="tel"-->
                        
                        <input type="address" name="email" placeholder="E-mail" id="email-id" />
                        
                        <input type="password" name="senha" placeholder="Senha" id="password-id" />
                        
                        <input type="submit" class="button botao_blue-50" value="Cadastrar" />
                        <div class="container-spans">
                            <span class="span2 mensagem">
                                Já está cadastrado?
                            </span><span class="span3"> <a href="/">Entrar</a>
                            </span>
                        </div>
                    </form>


                </div>
                <!--      </section> -->

            </main>
        </div>
        <footer>
            <div class="centralizar rodape">
                <p class="attribution" id="attr">
                    PI1 GRUPO-005 Sertãozinho-SP - UNIVESP
                </p>
            </div>
        </footer>
    </section>
</body>