<!DOCTYPE html>
<html lang="pt-br">

	<head>
		<meta charset="UTF-8" />
		<title>Operaçao Limpeza - Cadastro</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- <link rel="stylesheet" href="/css/style2divclass="".css" /> -->
		<!-- <link rel="stylesheet" href="/css/style3.css" /> -->
		<link rel="stylesheet" href="/css/style-Ran.css" />
		<script type="Text/javascript" src="../js/script.js"></script>
	</head>

	<body>
		<!-- <section> -->
			<!--Div que ficar dentro desta seção(section) ficará centralizado, Usar para manter div pai cenralizado -->
			
			<div>
				<div class="login_Box sombra2 area_conteudo borda_arredond-16">
					<div class="div-center">
						<img src="../images/logo-OpLi.png"
						alt="Imagem do logotipo da aplicação Operação Limpeza. Uma folha verde parcialmente transparente sobre um quadrado ao fundo de cor acinzentada clara."
						class="logo-login">
					</div>
					<h2 class="nome_app">Operação Limpeza</h2>
					
					<main>
						<header>
							<div class="info_app borda_arredond-16">
								<h5>
									Esta aplicação é um meio de comunicação para a população relatar casos de terrenos e locais com lixo, mato alto e outras situações de descarte impróprio na cidade de Sertãozinho-SP.
								</h5>
								<span>
									<p class="form_title">
										Cadastro
									</p>
									<hr class="hr_preto">
									<p class="info">
										Informe seu Nome, Telefone, E-mail e Senha para fazer o cadastro.
									</p>
								</span>
							</div>
						</header>

						<div class="grupo_input">


							<!-- Form Usado para cadastrar usuários 
							<form method="post" onsubmit="return validateForm(this)" action="/cadastro" class="container-inputs">-->

							<form method="post" action="/cadastro">
								<!-- Div com class="error-message" exibe mensagens de erro vindas do front-end (script.js) -->
								<!-- Na seguência, {{#if error}}<p>{{error}}</p>{{/if}} exibe mensagens de erro vindas do back-end na mesma div que mostra mensagens vindas do front-end.
								Com isso, qualquer erro gerado no servidor será corretamente exibido no front-end.
									
									<div class="error-message"> 
										{{#if error}} 
											<p>{{error}}</p>
										{{/if}}
									</div> -->

									{{#if error}}
										<div class="error-message">
											<p>{{error}}</p>
										</div>
									{{/if}}									

								<div class="form">
									<input type="text" name="nome" id="firstname-id" placeholder="Nome Completo" class="form__input" />
									<label for="nome" class="form__label">Nome Completo</label>
								</div>
								
								<!-- type="text" trocado por type="tel"-->
								<div class="form">
									<input type="tel" name="telefone" id="tel-id" placeholder="Telefone Ex.: 99-999999999" class="form__input" />
									<label for="telefone" class="form__label">Telefone</label>
								</div>
								
				  
								<div class="form">
									<input type="" name="email" id="email-id" placeholder="E-mail" class="form__input" />
									<label for="email" class="form__label">E-mail</label>
								</div>                     
								
								<div class="form">
									<input type="password" name="senha" id="password-id" placeholder="Senha" class="form__input" />
									<label for="password" class="form__label">Senha</label>
								</div>                       
								
								<div class="button-container">
									<input type="submit" class="reset-input button -verde w160p" value="Cadastrar" aria-label="Botão enviar dados para cadastro"/>
								</div>
								
								<div class="acoes_coluna">

									<div class="container-spans">
										<span class="span2 mensagem">Já está cadastrado?</span>
										<span class="span3"><a href="index_Op-Li">Entrar</a></span>
									</div>
									<div class="container-spans">
										<span class="span2 mensagem">Voltar à</span>
										<span class="span3"><a href="/">Página inicial</a></span>
									</div>

								</div>
							</form>
						</div>
					</main>
				</div>
			</div>

		<footer>
			<div class="rodape">
				PI-3 GRUPO-012 Sertãozinho-SP - UNIVESP
			</div>
		</footer>
		<!--	</section> -->
		<div id="popup" class="popup" style="display: none;">
			<div class="popup-content">
				<h2>✅ Cadastro efetuado com sucesso!</h2>
				<p>Você será redirecionado(a) para o login em <span id="contador"></span> segundos...</p>
			</div>
		</div>
		
		<script type="Text/javascript" src="../js/popup.js"></script>
		<script>
			{{#if mostrarAviso}}
				mostrarPopup();
			{{/if}}
		</script>



	</body>
</html>