<!DOCTYPE html>
<html lang="pt-br">
	
	<head>
		<meta charset="UTF-8">
		<title>Operaçao Limpeza - Recupar senha</title>
		<link rel="stylesheet" href="/css/style3.css" />
		<script type="Text/javascript" src="/js/script-email.js"></script>
		
	</head>

	<body class="bgSizeCover ">
		<section>
			<!--Div que ficar dentro desta seção ficará centralizado, Usar para manter div pai cenralizado -->
			{{#if messages.error}}
			<div class="error-message">{{messages.error}}</div>
			{{/if}}
			
			<div class="area_conteudo borda_green-40 borda_arredond-8 tam_min-max sombra">
				<main>
					<header>
						<div class="titulos borda_arredond-8">
							<h5 class="disposicao_titulos">
								Este site foi desenvolvido para que a população de Sertãozinho-SP tenha um canal para fazer
								reclamações
								referentes
								a infraestrutura asfáltica da cidade.
							</h5>
						</div>
					</header>
					
					<div class="centralizar disposicao_conteudo">
						<span class="info">
							<p>
								Recuperaçao de senha.
								<hr>
							</p>
							<p>
								Informe seu e-mail para receber a sua senha.
							</p>
						</span>

						<!-- Form Usado para recuparação de senha pelos usuários cadastrados-->
						{{!-- novalidate tira a validacao padrao do html no navegador(as mensagens de erro) --}}
						<form method="post" onsubmit="return validateEsqueceu(this)" action="/esqueceusenha" class="container-inputs" novalidate> 
							<!-- <label for="email">Email:</label> -->
							<span class="span1" style="color: red;"></span>

							<input type="email" id="email" name="email" placeholder="E-mail" required />

							<input type="submit" value="Enviar" class="button botao_blue-50" />
							
							<div class="container-spans">
								<span class="span2 mensagem">Não é cadastrado?</span>
								<span class="span3"><a href="/paginadecadastro">Fazer cadastro</a></span>
							</div>
							
							<div class="container-spans">
								<span class="span3"><a href="/">Voltar para página de login e entrar</a></span>
							</div>
						</form>
						
						
					</div>
					<!--      </section> -->
					
				</main>
			</div>
			<footer>
				<div class="centralizar rodape">
					<p class="attribution" id="attr">
						PI1 GRUPO-005 Sertãozinho-SP - UNIVESP
					</p>
				</div>
			</footer>
		</section>
	</body>	